* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero-image{
    background-image:url("./images/social\ media\ 3.jpg") ;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-image2{
    background-image:url("./images/social\ media\ 2.jpg") ;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-image3{
    background-image:url("./images/social\ media\ 4.jpg") ;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-image4{
    background-image:url("./images/social\ media.jpg") ;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text{
    color: whitesmoke;
    position: absolute;
    text-align: center;
    top: 180px;
    width: 100%;
    font-size: 4rem;
}

.two-column{
    display: grid;
    grid-template-columns: 1fr 3fr ;
    gap:50px ;
    width: 80%;
    margin: auto;
    margin-top:40px ;
    text-align: center;
}

.info{
    font-size:1.25em ;
}

.three-column{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    width: 80%;
    margin: auto;
    margin-top:100px ;
    margin-bottom:50px ;
}

.card{
    background-color: rgb(0, 0, 139);
}

.card-text{
    text-align: center;
    color: whitesmoke;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }
  ul {
    color: #000; /* Change #000 to your desired color */
}

ul.a {
    background-color: #ffffff;
    list-style-type: circle;
    list-style-position: inside;

  }
